page-my-schedules {

  .scroll-content {
    padding-top: 11px;
  }


  .event-card {
    margin-bottom: 0;

    .category-container {

      cursor: pointer;
      h2, p {
        color: #fff;
      }

      p {
        text-align: justify
      }

      ion-icon {
        color: #fff;
        font-size: 3.2em !important;
      }
    }

    .card-content {
      height: 56px;
      h2, p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .no-data {
    margin-top:20px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
  }
}
