page-my-schedules {

  .scroll-content {
    padding-top: 11px;
  }


  .event-card {
    margin-bottom: 0;
    cursor: pointer;

    .category-container {
      h2, p {
        color: #fff;
      }

      p {
        text-align: justify
      }

      ion-icon {
        color: #fff;
        font-size: 3.2em !important;
      }
    }

    .card-content {
      height: 56px;
      h2, p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
