<ion-header>
  <ion-navbar color="lightgrey">
    <ion-item>
      <ion-label>Filtrer par date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY"
                    doneText="Sélectionner"
                    cancelText="Annuler"
                    [min]="minDate"
                    [max]="maxDate"
                    [(ngModel)]="filterDate"></ion-datetime>
  </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding class="getting-started">
  <ev-loader *ngIf="isLoading"></ev-loader>
  <div *ngIf="!isLoading">
    <div *ngFor="let event of events | evFilter:'startTime':filterDate">
      <ion-card class="event-card">
        <div class="category-container default-category">
          <ion-grid>
            <ion-row>
               <ion-col width-67>
                  <h2>{{event.startTime | amDateFormat:'DD MMMM'}}</h2>
                  <p>{{event.startTime | date:"MM/dd/yy"}}</p>
               </ion-col>
               <ion-col width-33>
                 <button ion-button round outline color="white" (click)="selectEventId(event.id)" small>
                    {{selectedEventId === event.id ? "MOINS" : "PLUS"}}
                  </button>
               </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <ion-card-content class="card-content">
          <h2>
            {{event.name}}
          </h2>
          <p>
            </p>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="selectedEventId === event.id"
                class="event-details-card">
        <img class="main-image"
             [src]="event.images.length > 0 ? event.images[0] : 'http://us.123rf.com/450wm/incomible/incomible1607/incomible160700050/60871177-bottle-and-glass-of-tequila-in-flat-design-style.jpg?ver=6'">
        <ion-card-content class="card-content">
          <ion-card-title>
            {{event.name}}
          </ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col width-50>
                <h2>1 février 2017</h2>
              </ion-col>
              <ion-col width-50
                       style="text-align: right">
                <h2>De 20h à 22h</h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-100>
                <h1>Description</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p> {{event.description}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-grid width-100>
                <h1>Information supplémentaire</h1>
              </ion-grid>
            </ion-row>
            <ul>
              <li *ngIf="!event.location && !event.link">
                Aucune information disponible
              </li>
              <li *ngIf="event.location">Location: {{event.location}}</li>
              <li *ngIf="event.link">
                Site web:
                <a [href]="event.link">{{event.link}}</a>
              </li>
            </ul>
          </ion-grid>
        </ion-card-content>
        <button class="info-button"
                ion-button
                full
                (click)="navigateToScheduleSettingsPage(event)">
          Personaliser mon horaire
        </button>
      </ion-card>
    </div>
  </div>
</ion-content>
