page-home {

  .info-button {
    margin: 0;
    border-bottom: 1px solid #9eb2c1;
    border-top: none;

    &.bold {
      font-weight: bold;
      border-top: 1px solid #9eb2c1;
    }
  }

  .event-card {
    margin-bottom: 0;
    cursor: pointer;

    .category-container {
        h2, p {
          color: #fff;
        }

        p {
          text-align: justify
        }

        .button {
          color: #fff;
          height: 1.6em !important;
          margin-top: 0.6em;
        }
    }

    .card-content {
      height: 56px;
      padding: 7px 16px 14px 16px;

      h2, p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .event-details-card {
    .main-image {
      max-height: 200px;
    }
    p {
      text-align: justify;
    }
  }

  .item-datetime {
    background-color: transparent;
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,0.1);

    .item-inner {
      border-bottom: none !important;

      .input-wrapper .label {
        color: #fff;
      }
    }
  }

  .no-data {
    margin-top:20px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
  }

  .remove-date {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px rgba(0,0,0,0.1);

    &.icon-ios {
      top: 28px;
      font-size: 36px;
    }
  }
}
