page-home {

  .info-button {
    margin: 0;
  }

  .event-card {
    margin-bottom: 0;

    .category-container {
        h2, p {
          color: #fff;
        }

        .button {
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 3px;
          border: none;
        }
    }

    .card-content {
      height: 56px;
    }
  }

  .event-details-card {
    .main-image {
      max-height: 200px;
    }
  }

  .scroll-content {
    background: linear-gradient(0deg, #9eb2c1, #ced6de)
  }

  .item-datetime {
    background-color: transparent;
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,0.1);

    .item-inner {
      border-bottom: none !important;

      .input-wrapper .label {
        color: #fff;
      }
    }
  }
}
