<ion-header>
  <ion-navbar color="lightgrey">
    <button [ngClass]="{hidden: isLoading}"
            ion-button
            class="info-button bold regenerate-button"
            color="white"
            (click)="selectNewSchedule(true)">Regénérer
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ev-loader *ngIf="isLoading"></ev-loader>
  <div *ngIf="!isLoading">
    <ion-grid>
      <ion-item class="date">
        {{ moment(event.startTime).format('LL') }}
      </ion-item>
      <div *ngFor="let attraction of selectedAttractions; let last = last;">
        <ion-card [ngClass]="{'event-card': attraction.isEvent}">
          <div class="category-container {{attraction.category ? 'event' : 'default-category'}}">
            <ion-grid>
              <ion-row>
                <ion-col width-80>
                  <span *ngIf="attraction.isEvent">{{moment(attraction.startTime).format('LT')}}</span>
                </ion-col>
                <ion-col width-20>
                  <ion-icon *ngFor="let star of attraction.stars"
                            name="{{star}}"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <ion-card-content class="card-content">
            <h2> {{attraction.name}} </h2>
            <p> {{attraction.location}} </p>
          </ion-card-content>
        </ion-card>
        <div *ngIf="!last"
             class="time-container">
          <div class="vertical-line"></div>
          <div class="time-travel">
            {{moment.duration(attraction.travelTime, "seconds").humanize()}}
          </div>
        </div>
      </div>
      <ion-row></ion-row>
    </ion-grid>
    <button *ngIf="navCtrl.id !== 't0-1'"
            ion-button
            full
            class="info-button bold"
            color="white"
            (click)="saveSchedule()">Sauvegarder
    </button>
  </div>
  <div id="map"></div>
</ion-content>
