page-schedule {
  ion-card {
    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .hidden {
    display: none;
  }

  .regenerate-button {
    float: right;
    margin-right: 17px;
  }

  .time-container {
    flex-direction: row;
    display: flex;
    justify-content: center;
  }

  .time-travel {
    height: 30px;
    width: 150px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin: 10px 0 10px 0;
    word-wrap: break-word;
    flex-direction: column;
    white-space: normal;
    justify-content: center;
    display: flex;
    text-align: center;
  }

  ion-item.date{
    border-radius: 0px;
    margin: 0 auto;
    text-align: center;

    .item-inner {
      border-bottom: none !important;
    }
  }

  .category-container {
    height: 30px;
    color: white;
    ion-col {
      padding: 2px;
    }
  }

  .vertical-line {
    position: absolute;
    z-index: -1;
    border-left: thick solid gray;
    display: inline-block;
    height: 150px;
    left: 50%;
    margin-top: -30px;
  }

  h2, p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  #map {
    height: 200px;
    width: 100%;
  }
}
