<ion-content>
  <ev-loader *ngIf="isLoading"></ev-loader>
  <div *ngIf="!isLoading">
    <ion-grid>
      <ion-row (click)="selectNewSchedule()">
        <ion-col width-50>
          Date: 1 fevrier 2017
        </ion-col>
        <ion-col width-50
                 style="padding: 0;">
          <ion-row>
            <ion-col width-50>Début: 12h</ion-col>
            <ion-col width-50>Fin: 18h</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <div *ngFor="let attraction of selectedAttractions; let last = last;">
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col width-25>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/American_Beaver.jpg/220px-American_Beaver.jpg">
              </ion-col>
              <ion-col width-75>
                <h2>{{attraction.name}}</h2>
                <ion-row>
                  <ion-col width-33>Début: 12h</ion-col>
                  <ion-col width-33>Fin: 18h</ion-col>
                  <ion-col width-33>Durée: {{moment.duration(attraction.duration, "minutes").hours()}} h</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>Où: {{attraction.location}}</ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <div *ngIf="!last"
             class="time-container">
          <div class="vertical-line"></div>
          <div class="time-travel">
            {{moment.duration(attraction.travelTime, "seconds").humanize()}}
          </div>
        </div>
      </div>
    </ion-grid>
  </div>
  <div id="map"></div>
</ion-content>
