<ion-header>
  <ion-navbar color="lightgrey"></ion-navbar>
</ion-header>

<ion-content>
  <ev-loader *ngIf="isLoading"></ev-loader>
  <div *ngIf="!isLoading">
    <ion-grid>
      <ion-item class="date">
        {{ moment(event.startTime).format('LL') }}
      </ion-item>
      <div *ngFor="let attraction of selectedAttractions; let last = last;">

        <ion-card [ngClass]="{'event-card': attraction.startTime}">
          <div class="category-container {{attraction.category ? 'event' : 'default-category'}}">
          </div>
          <ion-card-content class="card-content">
            <h2> {{attraction.name}} </h2>
            <p> {{attraction.location}} </p>
          </ion-card-content>

          </ion-card>
        <div *ngIf="!last"
             class="time-container">
          <div class="vertical-line"></div>
          <div class="time-travel">
            {{moment.duration(attraction.travelTime, "seconds").humanize()}}
          </div>
        </div>

      </div>
    </ion-grid>
  </div>
  <div id="map"></div>
</ion-content>
