page-schedule-settings {


  .comedy, .theater {
    background-color: #0F6177;
  }

  .activities, .family {
    background-color: #0B8389;
  }

  .shows, .music {
    background-color: #1BA39C;
  }

  .sport, .other {
    background-color: #1BBC9B;
  }

  .culture, .business {
    background-color: #16A086;
  }


  .button-toggle {
    height: 100px;
    width: 100%;
    background-color: #fff;
    color: grey;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 0.5;
    flex-direction: row;
    display: flex;
    justify-content: center;
    cursor: pointer;

    .center {
      height: 100px;
      width: 100%;
      background-color: white;
      color:gray;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
      word-wrap: break-word;
      flex-direction: column;
      white-space: normal;
      justify-content: center;
      display: flex;
      text-align: center;
    }


    &.time {
      .icon {
        font-size: 3.2em;
      }
    }

    &.checked {
      opacity: 1;
    }
  }

  ion-row h1 {
    margin-top: 0.3em !important;
  }

  .scroll-content {
    background: linear-gradient(0deg, #9eb2c1, #ced6de)
  }

  .toolbar-background {
    border: none;
  }

  .bar-button-default-ios, .content-ios {
    color: #fff !important;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  }

  .error-container {
    padding: 15px;
    color: #f53d3d;
  }
}
